 #header {
  overflow: hidden;
  position: relative;
  height: 100vh;

  /* display: flex;
  justify-content: center; */
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.number1 {
   background-image: url('http://localhost:1337/layer-images/layer1.png');
   background-size: cover;
}
.number2 {
   background-image: url('http://localhost:1337/layer-images/layer2.png');
   background-size: cover;
}
.number3 {
   background-image: url('http://localhost:1337/layer-images/layer3.png');
   background-size: cover;
}
.number4 {
   background-image: url('http://localhost:1337/layer-images/layer4.png');
   background-size: cover;
}
.number5 {
   background-image: url('input_link_to_image_here');
}
.number6 {
   background-image: url('input_link_to_image_here');
}
.nameLogo {
  background-position-y: 50%;
  /* background-size: 50%;
  background-image: url('http://localhost:1337/layer-images/nameLwr.png'); */
   background-size: 65%;
  background-image: url('http://localhost:1337/layer-images/nameSerif.png');
}

.menu {
  background: #565656;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: white;
  z-index: 999;
  border-bottom: 2px solid rgba(220, 255, 238, 0.38);
}

.fixedMenu {
  background: #565656;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: white;
  z-index: 999;
  border-bottom: 2px solid rgba(220, 255, 238, 0.38);
}

.allMenuButtons {
  text-align: center;
  padding: 0;
  margin: 0;
}

.menuButton {
  display: inline-block;
  font-family: 'Karla', sans-serif;
   /* font-size: 1.1em; */
  font-size: 3vh;
  margin: 0 1.5em 0 1.5em;
  color: #e8e1ed;
}

.container {
  justify-content: center;
}

#content {
  background: #565656;
  width: 100%;
  position: relative;
  text-align: center;
  padding-left: 10vh;
  padding-right: 10vh;
  color: lightgray;
  font-family: 'Lustria',sans-serif;
  font-size: 2.8vh;
  line-height: 1.5;
}

 #headshot {
  width: 35vh;
}

#entwineImg {
  background-image: url('https://i.redditmedia.com/jtMkmkpkCaqfSqcQcTRE4WgDeg-liWzYllSmjuhYYbQ.jpg?w=560&s=1df2e77cad32174b18e4cbe6f8d3c83a');
}

#storybookvrImg {
  background-image: url('https://i.redditmedia.com/jtMkmkpkCaqfSqcQcTRE4WgDeg-liWzYllSmjuhYYbQ.jpg?w=560&s=1df2e77cad32174b18e4cbe6f8d3c83a');
}

#monkeySeeImg {
  background-image: url('https://i.redditmedia.com/jtMkmkpkCaqfSqcQcTRE4WgDeg-liWzYllSmjuhYYbQ.jpg?w=560&s=1df2e77cad32174b18e4cbe6f8d3c83a');
}

/* .title {
  font-size: 3.5em;
  font-family: 'Kavivanar', serif;
  margin: 0 10vh 0 10vh;
} */

.titleImg {
  height: 6vh;
}

a {
  text-decoration: none;
}
